<%-include("header")%>
<div class="about">
    <div class="heading">
        <h1>About Me</h1>
    </div>
    <div class="About">
        <p>
            I am Hasan Ansari, a curious and energetic Electrical engineer in progress. Apart from nerdy coding and tech
            enthusiasm, I am very much interested in travelling, cooking and dancing. Since I'll be graduating next to
            next year, I believe I still have some time to make meaningful associations with companies like yours to
            further improve my skills and knowledge and bring them at par with the industry standard so that I can be a
            valuable addition to the workforce once I graduate. I'm a keen problem solver and I frequently participate
            in different contests on codechef,leetcode and other platforms too. Apart from problem solving I have a
            fondness for web development in my free time and try to make new things with design. I possess leadership
            and management skills from my experience in a variety of extracurricular activities like participating in
            hackathons, organizing university level fests, volunteering for different causes as well as fundraising. My
            ability to blend well with intercultural teams and network will make me a valuable asset for your company.
            As a person, you will find me a quick learning, result-oriented individual who is eager to take initiatives.
            Hence, I am looking forward to be associated with you, so as to add value to your company and help it grow
            while bringing new learnings and development in my professional career.
        </p>
    </div>
</div>
<%- include("footer") %>
