<%-include("header")%>
<div class="divEducation">
    <p class = "education"><b>EDUCATIONAL HISTORY</b></p>
    <p class = "undereducation">Learning and Living</p>
    <img src="images/educational.jpg" width="60" height="60">
    <p class = "undereducation">July 2019 - July 2023</p>
    <p class="undereducation">
        BACHELOR IN TECHNOLOGY,<br>
    <a href="https://nitrkl.ac.in">
         NATIONAL INSTITUTE OF TECHNOLOGY ROURKELA, INDIA
    </a>
    </p>
    <p class="undereducation">
        CGPA - 9.08/10
    </p>
    <img src="images/educational.jpg" width="60" height="60">
    <p class = "undereducation">July 2016 - July 2018</p>
    <p class="undereducation">
        HIGH SCHOOL,
    <a href="http://ssrkt.edu.in/">
         RKT TALREJA COLLEGE
    </a>
    ,INDIA
    </p>
    <p class="undereducation">
        Percentage - 76%
    </p>

</div>
<%-include("footer")%>