<%-include("header")%>
<div class="container">
    <p class = "exheading">EXPERIENCE/PROJECTS</p>
    <p class = "exheading2">What I've Done</p>
    <div class="top">
        <div class="topLeft">
           
                <p class="date">MARCH 2021-APRIL 2021</p>
                <p class="prolang">Python</p><br>
                <p class="Title">MACHINE LEARNING PERSONAL PROJECT </p><br>
                <p class="despo">. I made a supervised learning model of standard boston housing
                    dataset with the help of the libraries in python
                    learnt the way of analysis of data and how the predictions can be done with linear regression and different types of regression
                    and did many other practice project</p>
      
        </div>
        <div class="topRight">
            <p class="date">JUNE 2021-AUGUST 2021</p>
            <p class="prolang">MySQL</p><br>
            <p class="Title">Life Care Hospital Intern</p><br>
            <p class="despo">. • I Made a database of people registering for corona vaccine for
                a hospital in MySQL from Scratch and learnt different type of scenarios while working with real databases
                having a knowledge of non-SQL databases too</p>
        </div>
    </div>
    <div class="middle">
        <div class="middleLeft">
            <p class="date">OCTOBER 2021-NOVEMBER 2021</p>
            <p class="prolang">WEB DEV</p><br>
            <p class="Title">Website</p><br>
            <p class="despo">. • I Made a website of my own resume from scratch where i used almost everything html,css,javascript,node,express,ejs
                and deployed it using git and heroku where I learnt uses of all the modules in web development
            </p>
        </div>
        <div class="middleRight">
            <p class="date">FEB 2021-MARCH 2021</p>
                <p class="prolang">Challenge</p><br>
                <p class="Title">Thermax Challenge</p><br>
                <p class="despo">. Boiler, turbine, grid, solar cell data analysis was done and a re‐
                    port was made.A presentation was given on an optimised way
                    of power distribution from different power sources.</p>
        
        </div>
    </div>
    <div class="bottom">
        <div class="bottomLeft">
            <p class="date">JULY 2021-AUGUST 2021</p>
            <p class="prolang">C/C++</p><br>
            <p class="Title">PING PONG GAME</p><br>
            <p class="despo">. Built a simple Pong game using C++ which is authorized by
                Coursera project network
            </p>
        </div>
    </div>
    

</div>
<%-include("footer")%>