<footer>
    
    <a class ="gfg" href="https://auth.geeksforgeeks.org/user/hasanshaikh19990/practice/">Geeeksforgeeks</a>
    <a class ="codechef" href="https://www.codechef.com/users/hasan_1617">Codechef</a>
    <a class ="contact" href="mailto:hasanansari@97650@gmail.com">Get in Touch</a>
    <a class ="leetcode" href="https://leetcode.com/Hasan_Al-quoders/">Leetcode</a>
    <p class="copywrite">copywrite @2021 by Hasan</p>
</footer>
</body>