<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=  , initial-scale=1.0">
        <link href="css/styleskills.css" rel="stylesheet">
        
        <link href="css/styles.css" rel="stylesheet">
        <title>Weekend</title>
    </head>
    <body>
        <nav>
            <ul>
                <ul class="name">
                    <li ><img src="images/hasan logo.png" > </li>
                    <li><a  href="/">Hasan Ansari</a></li>
                </ul>
                <ul class="links">
                    <li name="home"><a href="/" >Home</a></li>
                <li name="Skill"><a href="/skills">Skills</a></li>
                <li name="Expre"><a href="/experience">Experience</a></li>
                <li name="about"><a href="/about">About</a></li>
                <li name="Edu"><a href="/education">Education</a></li>
                <li name="form"><a href="/form">Contact</a></li>
                <li name=linkedin><a href="https://www.linkedin.com/in/hasan-ansari-5b5608209">Linkedin</a></li>
                <li name=insta><a href="https://www.instgram.com/h_1617__">Instagram</a></li>
                <li name="resume"><a href="images/resume.pdf">Resume</a></li>
            </ul>
                
            </ul>
        </nav>