<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=  , initial-scale=1.0">
        <link href="css/styleskills.css" rel="stylesheet">

        <link href="css/styles.css" rel="stylesheet">
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>RESUME</title>
    </head>

    <body>
        <nav>
            <div class="ujko">
                <div class="hjik">
                    <img src="images/hasan logo.png">
                    <a href="/">Hasan Ansari</a>
                </div>
                <div class="ujik">
                    <a href="/">Home</a>
                    <a href="/skills">Skills</a>
                    <a href="/experience">Experience</a>
                    <a href="/about">About</a>
                    <a href="/education">Education</a>
                    <a href="/form">Contact</a>
                    <a href="https://www.linkedin.com/in/hasan-ansari-5b5608209">Linkedin</a>
                    <a href="images/resume.pdf">Resume</a>
                </div>
                <div class="select">
                    <select id="sampleSelect">
                        <option value="" disabled selected hidden>Pages
                        </option>
                        <option value="/">Home</option>
                        <option value="/skills">Skills</option>
                        <option value="/experience">Experience</option>
                        <option value="/about">About</option>
                        <option value="/education">Education</option>
                        <option value="/form">Contact</option>
                        <option value="https://www.linkedin.com/in/hasan-ansari-5b5608209">LinkedIn</option>
                        <option value="images/resume.pdf">Resume</option>
                    </select>
                </div>
            </div>
        </nav>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="javascript/skills.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="javascript/skills.js"></script>

        <!-- href="https://www.linkedin.com/in/hasan-ansari-5b5608209" -->
        <!-- href="images/resume.pdf" -->
