<%- include("header") %>
    <div class="candidate">
        <div class="hi">
            <span>Hi I'm Hasan</span>
            <br>
            <p>Electrical Engineering,NIT ROURKELA,India</p>
        </div>
        <div class="picture">
            <img src="images/Screenshot_20211107-203527__01.jpg" width="500" height="500">
        </div>            
    </div>
<div class="about">
    <div class="heading">
        <h1>About Me</h1>
    </div>
    <div class="About">
        <p>
            <i class="fab fa-linkedin"></i>
            I am Hasan Ansari, a curious and energetic Electrical engineer in progress. Apart from nerdy coding and tech enthusiasm, 
            I am very much interested in travelling, cooking and hiking. Growing up in a business family, I did have the entrepreneurial 
            spirit, which these days is motivating me to make a career in business and management, because of which I have been 
            participating in several internships and trainings opportunities by associating with companies in India and abroad.
             Since I will be graduating next year, I believe I still have some time to make meaningful associations with companies 
             like yours to further improve my skills and knowledge and bring them in par with the industry standard so that I can be 
             a valuable addition to the workforce once I graduate. 
            I possess leadership and management skills from a variety of extracurricular activities like participating in hackathons, 
            organizing university level fests, volunteering for different causes as well as fundraising. My ability to blend well with intercultural teams 
            and network will make me an asset to your company. As a person, you will find me a quick learning, result-oriented individual who is eager to take initiatives. 
            Hence, I am looking forward to be associated with you, so as to add value to your company and help it grow while bringing new learnings and development in my professional career.
        </p><br>
    </div>
    <a class=contact href="/form">Get in Touch</a>
</div>
<footer>
   <p>copywrite @2021 by Hasan</p>
</footer>
</body>
<%- include("footer") %>