<%- include("header") %>
    <div class="candidate">
        <div class="hi">
            <span>Hi I'm Hasan</span>
            <br>
            <p>Electrical Engineering,NIT ROURKELA,India</p>
        </div>
        <div class="picture">
            <img src="images/Screenshot_20211107-203527__01.jpg" width="500" height="500">
        </div>            
    </div>
<%- include("footer") %>