<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=  , initial-scale=1.0">
        <link href="css/styleskills.css" rel="stylesheet">
        <link href="css/styles.css" rel="stylesheet">
        <title>Weekend</title>
    </head>
    <body>
        <nav>
            <ul>
                <ul class="name">
                    <li ><img src="images/hasan logo.png" > </li>
                    <li><a  href="/">Hasan Ansari</a></li>
                </ul>
                <ul class="links">
                    <li name="home"><a href="/" >Home</a></li>
                <li name="Skill"><a href="/skills">Skills</a></li>
                <li name="Expre"><a href="/experience">Experience</a></li>
                <li name="about"><a href="/about">About</a></li>
                <li name="Edu"><a href="/education">Education</a></li>
                <li name="more"><a href="/more">More</a></li>
                <li name=linkedin><a href="https://www.linkedin.com/in/hasan-ansari-5b5608209"><i class="fab fa-linkedin"></i></a></li>
                <li name=insta><a href="https://www.instgram.com/h_1617__"><i class="fab fa-instagram"></i></a></li>
                <li name="form"><a href="/form"> Get in Touch</a></li>
            </ul>
                
            </ul>
        </nav>
    <p class="title">Skills</p><br>
    <p>click on images to interact</p>
    <ul class="skills">
        <li class = "os">
            <img src="images/operating_system.webp"width="350" height="300">
            Operating Systems.
            <ul>
                <li>Windows</li>
                <li>Linux</li>
            </ul>
        </li>
        <li class = "lang"><img src="images/Languages.webp" width="350"height="300">
        Programming Languages.
        <ul>
            <li>C,C++</li>
            <li>Python</li>
            <li>Html</li>
            <li>Css</li>
            <li>Javascript , jQuery</li>
            <li>Node JS , Express</li>
        </ul>
        </li>
        <li class="databases"><img src="images/Databases.jpg" width="350"height="300">
            SQL,NON-SQL Databases.
            <ul>
                <li>MySQL</li>
                <li>MongoDb</li>
            </ul>
        </li>
        <li class="other"><img src="images/Others.webp" width="350"height="300">
            Others
            <ul>
                <li>familiar with Git and Github</li>
                <li>MATLAB,OCTAVE</li>
                <li>AutoCad</li>
                <li>NI multisim, Lab view</li>
                <li>Microsoft Powerpoint, Microsoft Excel</li>
                <li>Basics of Machine learning</li>
            </ul>
        </li>
    </ul>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="javascript/skills.js"></script>
</body>
</html>