<%-include("header")%>
<p class="title">Skills</p><br>
<p>click on images </p>

<div class="divskillsmain">
    <div class="skills">
        <div>
            <li class="os">
                <img src="images/operating_system.webp">
                <p>Operating Systems.</p>
                <ul>
                    <li>Windows</li>
                    <li>Linux</li>
                </ul>
            </li>
        </div>
        <div>
            <li class="lang"><img src="images/Languages.webp">
                <p>Programming Languages.</p>
                <ul>
                    <li>C,C++</li>
                    <li>Python</li>
                    <li>Html</li>
                    <li>Css</li>
                    <li>Javascript , jQuery</li>
                    <li>Node JS , Express</li>
                </ul>
            </li>
        </div>
        <div>
            <li class="databases"><img src="images/Databases.jpg">
                <p>SQL,NON-SQL Databases.</p>
                <ul>
                    <li>MySQL</li>
                    <li>MongoDb</li>
                </ul>
            </li>
        </div>
        <div>
            <li class="other"><img src="images/Others.webp">
                <p>Others</p>
                <ul>
                    <li>familiar with Git and Github</li>
                    <li>MATLAB,OCTAVE</li>
                    <li>AutoCad</li>
                    <li>NI multisim, Lab view</li>
                    <li>Microsoft Powerpoint, Microsoft Excel</li>
                    <li>Basics of Machine learning</li>
                </ul>
            </li>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="javascript/skills.js"></script>
    <%- include("footer") %>


    </html>
