@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Inconsolata:wght@400&family=Indie+Flower&family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Inconsolata:wght@200&family=Indie+Flower&family=Montserrat:wght@200&family=Quicksand:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
}
body {
    /* display: flexbox; */
    /* place-items: calc(center); */
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: rgba(188, 217, 245, 0.466); 
  }
.name{
    display: flex;
    align-items: center;
    white-space: nowrap;
}
.name img{
    width:7vw;
    height: 9vh;
    margin-left: 3vw;
}
.hjik img{
    width:7vw;
    height: 9vh;
    margin-left: 3vw;
    margin-right: 3vw;
}
.hjik{
    display: inline-flex;
    align-items: center;
}
.ujik{
    display: inline-flex;
    align-items: center;
}
.ujko{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ujik a{
    margin: 0.5vw;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.05rem;
    text-decoration: none;
}
.hjik{
    margin: 0.5vw;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5rem;
}
.select{
    display: none;
}
#sampleSelect{
    appearance: none;
    font-size: larger;
    text-align: center;
    height: 30px;
    width: 100px;
    border:1px solid transparent;
    border-color: black;
    font-family: 'Quicksand', sans-serif;
}

@media (max-width:600px) {
    .select{
        display: flex;
    }
    .ujik{
        display: none;
    }
}
.hi{
    margin-left: 5vw;
    align-items: center;
}
.hi span{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 6.25rem;
    font-family: 'Indie Flower', cursive;
    margin-left: 3.4375rem;
}
.picture img{
    display: flex;
    margin-left: 20.65vw;
} 
.candidate{
    display: flex;
    width: 100%;
    align-items: center;
    /* background-image: -webkit-linear-gradient(65deg, #A683E3 50%, #E4E9FD 50%); */
    min-height: 70vh;
    font-family: 'helvetica neue';
    white-space: nowrap;
    
}
@media screen and (max-width:600px){
    .candidate{
        display: flex;
        flex-direction: column;
        width: 100%;
        /* align-items: center;
         */
         justify-content: center;
        /* background-image: -webkit-linear-gradient(65deg, #A683E3 50%, #E4E9FD 50%); */
        /* min-height: 70vh; */    
    } 
}
.hi p{
    font-family: 'Inconsolata', monospace;
    font-size: 1.5625rem;
    margin-left: 2.1875vw;
    margin-bottom: 2.1875vw;
    white-space: nowrap;
}
.heading h1{
    text-align: center;
    /* font-family: cursive; */
    font-family: 'Quicksand', sans-serif;
    font-size: 2.5rem;
    margin-bottom: 3.125rem;
    margin-top: 2rem;;
}
.About{
    /* float: left; */
    display: flex;
    margin-left: 200px;
    margin-right: 200px;
    align-items: center;
    /* height: auto; */
    margin-bottom: 200px;
}
@media screen and (max-width:600px){
    .About{  
        display: flex;
        margin-left: 100px;
        margin-right: 100px;
    }
}
.About p{
    /* font-family:Arial, Helvetica, sans-serif; */
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    font-weight:400;
    
}
@media screen and (max-width:600px){

    .About p{
        /* font-family:Arial, Helvetica, sans-serif; */
        font-size:16px;
    }
}
footer{
    justify-content: center;
    font-size: large;
    margin-top: 3.125rem;
    flex-direction: column;
    
}
@media screen and (max-width:1100px) {

    footer div{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}
a{
    cursor:pointer;
    color: black;
    font-weight: 500;
}
a:visited{
    color:black;
}
footer{
    text-align: center;
}
.gfg,.codechef,.leetcode,.contact,.copywrite,.hackerrank{
    text-align: center;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Quicksand', sans-serif;
    margin: 2rem;
      
} 
.copywrite{
    display: block;
}
/* .gfg{
    margin-left: 31%;
} */
.education{
    
    font-size: 3.125rem;
    font-family: 'Montserrat', sans-serif;
    margin: 0.25vw;
}
.undereducation{
    font-size: large;
    font-family: 'Montserrat', sans-serif;
    margin: 0.25vw;
    
}
.divEducation{

    font-family: 'Montserrat', sans-serif;
    margin: 0.25rem;
    height: 110.865vh;
    width: auto;
    margin-bottom: 10.374vh;

}
.divEducation img{
    display: flex;
    margin: 0.25rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10.125vh;
    margin-bottom: 10.125vh;
    opacity: 0.5;
}
.divEducation a{
    font-size: large;
    /* margin-left: 520px; */
    margin: 0.25rem;
    text-decoration: underline;
}
span{
    display: block;
    text-align: center;
}
p{
    margin: 0.625rem;
}
.container{
    margin-top: 6.25vh;
    /* align-items: center; */
    width: 100%;
    height: auto;
}
.container .topLeft,.topRight,.bottomLeft,.bottomRight,.middleLeft,.middleRight{
    font-family: 'Montserrat', sans-serif;
    margin: 1.1vw;
}
.top,.middle,.bottom{
    width:100%;
    height: auto;
}
.container .topLeft{
    background-color: rgb(71, 190, 194);
    width: 47.5%;
    height: 40vh;
    border-radius: 0.625rem;
}
.container .topRight{
    background-color: rgb(119, 236, 197);
    width: 47.5%;
    height: 40vh;
    border-radius: 0.625rem;
}
.container .bottomLeft{
    background-color: rgb(175, 62, 124);
    width: 47.5%;
    height: 40vh;
    border-radius: 0.625rem;
}
/* .container .bottomRight{
    background-color: rgb(206, 194, 194);
    width: 47.5%;
    height: 40vh;
    border-radius: 0.625rem;
} */
.topLeft div,.topRight div,.bottomLeft div,.bottomRight div,.middleLeft div,.middleRight div{
    margin-bottom: 2rem;
}
@media(max-width:600px){
    .topLeft,.topRight,.bottomLeft,.bottomRight,.middleLeft,.middleRight{
        font-size: 16px;
        overflow: scroll;
    } 
    .topLeft div p,.topRight div p,.bottomLeft div p,.bottomRight div p,.middleLeft div p,.middleRight div p{
        font-size: 16px;
    }   
}
.container .middleLeft{
    background-color: rgb(156, 62, 175);
    width: 47.5%;
    height: 40vh;
    border-radius: 0.625rem;
}
.container .middleRight{
    background-color: rgb(192, 162, 72);
    width: 47.5%;
    height: min-content;
    height: 40vh;
    border-radius: 0.625rem;
}
.top{
    height: min-content;
    width: fit-content;
    display: flex;
    margin-top: 2.5vh;
}
.bottom,.middle{
    height: min-content;
    display: flex;
}
.bottom{
    justify-content: center;
    height: min-content;
}
@media(max-width:1000px){
    .top,.middle,.bottom{
        flex-direction: column;
        align-items: center;
    }
}
.prolang{
    display: inline;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    margin-left: 13.625vw;
    color: white;
}
.date{
    display:inline-flex;
    margin-top:7.125vh;
    margin-left: 4vw;
    font-family: 'Montserrat', sans-serif;
    font-size: large;
    color:white;
}
.despo{
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: medium;
    margin-left:3.75vw;
    margin-right: 3.125vw;
}
.Title{
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin-left: 1.5vw;
}
.exheading{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.1875rem;
    
}
.exheading2{
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9375rem;
    
}
/* .headermain{
    width: 100%;
    /* margin-bottom: 4.374rem; 
    
} */
/* nav{
    width: 100%;
    background-color: aliceblue;
} */ 
