@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Inconsolata:wght@400&family=Indie+Flower&family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Inconsolata:wght@200&family=Indie+Flower&family=Montserrat:wght@200&family=Quicksand:wght@300&display=swap');
body{
    text-align: center;
}
.successpage{
    display: flexbox;
    border-radius: 6px;
    margin: auto;
    width: 50vw;
    height: 20vh;
    margin-top: 30vh;
    background-color: rgba(161, 228, 122, 0.822);
    padding: 4vh;
}
.successpage h1{
    /* text-align: center; */
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 600;
}
a{
    color: grey;
    font-family:cursive;
    font-size: 2rem;
    font-weight: 900;
}
.failurepage{
    display: flexbox;
    border-radius: 6px;
    margin: auto;
    width: 50vw;
    height: 20vh;
    margin-top: 30vh;
    background-color: rgba(228, 129, 122, 0.822);
    padding: 4vh;
}
.failurepage h1{
    /* text-align: center; */
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 600;
}